<div class="one">

    <nav class="navbar">
        <a href="/lists">Home</a>
        <ul>
            <li>
                <a href="/stores">Create New Item</a>
            </li>
            <li>
                <a href="/">Logout</a>
            </li>
        </ul>
    </nav>

<body>
        <div class="list"

        <h1> <a href="/stores">Create New Item</a></h1>
        <p> Your current list is empty, please add items:</p>

        <ul type="circle"> 
            <li></li>
        </ul>
    </div>

</body>



</div>