<body>
    <h1> Shoppy Cart</h1>
    <h1> <a href="/stores/show.ejs">Create New Item</a></h1>
    <p> Your current list is empty, please add items:</p>

    <ul type="circle">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
</body>