<div class="one">

    <body>
        <nav class="navbar">
            <a href="/lists">Home</a>
            <ul>
                <li>
                    <a href="/stores">Create New Item</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </nav>

        <p> Your current list is empty, please add items:</p>

        <ul type="circle">
            <% list.items.forEach(listsItem => { %>
              <a href="lists/<%= listsItem._id %>"><li> <%= listsItem.name %> </li> </a>  
             <% }); %>   
        </ul>
    
</body>

</div>