<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your List</title>
</head>
<body>
        <h1> Shoppy Cart </h1>
        
        <h1> Create New Item</h1>

        
</body>
</html>