<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Stores: </h1>
    <nav>
        <a href="/">Back to Home Page</a>
    </nav>

    <div class= "storeimages">
        <img src="img/bestbuy.png" alt="bestbuy">
        <img src="img/ralphs.png" alt="ralphs">
        <img src="img/target.png" alt="target">
        <img src="img/traderjoes.png" alt="traderjoes">
        <img src="img/walmart.png" alt="walmart">
        <img src="img/wholefoods.png" alt="wholefoods">
    </div>
    
    
</body>
</html>