<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Stores: </h1>

    <a href="/stores/bestbuy">
        <img src="../../img/bestbuy.png" type="image" alt="submit">
    </a>

    <a href="/stores/ralphs">
        <img src="../../img/ralphs.png" type="image" alt="submit">
    </a>
    
    <a href="/stores/target">
        <img src="../../img/target.png" type="image" alt="submit">
    </a>
        
    <a href="/stores/traderjoes">
        <img src="../../img/traderjoes.png" type="image" alt="submit">
    </a>
        
    <a href="/stores/walmart">
        <img src="../../img/walmart.png" type="image" alt="submit">
    </a>

    <a href="/stores/wholefoods">
        <img src="../../img/wholefoods.png" type="image" alt="submit">
    </a> 

    <a href="/stores/costco">
        <img src="../../img/costco.png" type="image" alt="submit">
    </a>

    <a href="/stores/petco">
        <img src="../../img/petco.png" type="image" alt="submit">
    </a>

    <a href="/stores/staples">
        <img src="../../img/staples.png" type="image" alt="submit">
    </a>

    <a href="/stores/cvs">
        <img src="../../img/cvs.png" type="image" alt="submit">
    </a>

    <a href="/stores/gamestop">
        <img src="../../img/gamestop.png" type="image" alt="submit">
    </a>

<<<<<<< HEAD
    <div class="homedepot">
        <img src="../../img/homedepot.png" alt="homedepot">
        <a href="/stores/homedepot"><button class="btn">Button</button></a>
    </div> 
=======
    <a href="/stores/homedepot">
        <img src="../../img/homedepot.png" type="image" alt="submit">
    </a>
    
>>>>>>> 197ea59942a05e9ec71daee80c2cfe0a89d65c74
</body>
</html>