<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Stores: </h1>
    <nav>
        <a href="/lists">Back to Home Page</a>
    </nav>

    <div class= "bestbuyimage">
        <img src="../../img/bestbuy.png" alt="bestbuy">
        <button class="btn">Button</button>
    </div>

    <div class= "ralphsimage">
        <img src="../../img/ralphs.png" alt="ralphs">
        <button class="btn">Button</button>
    </div>

    <div class= "targetimage">
        <img src="../../img/target.png" alt="target">
        <button class="btn">Button</button>
    </div>
        
    <div class= "traderjoes">
        <img src="../../img/traderjoes.png" alt="traderjoes">
        <button class="btn">Button</button>
    </div>
        
    <div class= "walmart">
        <img src="../../img/walmart.png" alt="walmart">
        <button class="btn">Button</button>
    </div>

    <div class="wholefoods">
        <img src="../../img/wholefoods.png" alt="wholefoods">
        <button class="btn">Button</button>
    </div>  

    <div class="costco">
        <img src="../../img/costco.png" alt="costco">
        <button class="btn">Button</button>
    </div> 

    <div class="petco">
        <img src="../../img/petco.png" alt="petco">
        <button class="btn">Button</button>
    </div> 

    <div class="staples">
        <img src="../../img/staples.png" alt="staples">
        <button class="btn">Button</button>
    </div> 

    <div class="cvs">
        <img src="../../img/cvs.png" alt="cvs">
        <button class="btn">Button</button>
    </div> 

    <div class="gamestop">
        <img src="../../img/gamestop.png" alt="gamestop">
        <button class="btn">Button</button>
    </div> 

    <div class="homedepot">
        <img src="../../img/homedepot.png" alt="homedepot">
        <button class="btn">Button</button>
    </div> 
    
</body>
</html>