<div class="homepage">
    <header>
        <ul>
            <li>
                <p>Welcome to Shoppy Cart!</p>
            </li>
            <li>
                <p>Use Code: SHOPPYCARTRULEZ for 10% off your monthly subscription!</p>
            </li>
        </ul>
    </header> <br />
    
    <% if (typeof error !== 'undefined') { %>
        <span style="color: red; font-weight: bold;"><%= error %></span> 
      <% } %>
      <div class="login">
        <div class="returning">
    <main>
        <form action="/auth/login" method="POST">

        <div class="email">
            <label for="em">Username:</label> <br />
            <input type="email" placeholder="Username" name="email">
        </div>
        
                 <div class="password">

            <label for="pass">Password:</label> <br />

            <input type="password" placeholder="Password" name="password"
                   minlength="4" required>
        </div> <br />
        <input type="submit" value="Start Shopping"> 
    </form>
    

</div>

       

        <form action="/auth/register" method="POST">
            <div class="container">

            <h2>Register Here:</h2> <br />
            <p>Please fill in the details to start making your shopping list.</p> <br />
            <label for="email"><b>Enter Email:</b></label>
            <input type="text" placeholder="Enter Email" name="email"> <br />
            <label for="pwd"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="pwd"> <br />
            <label for="confirm"><b>Confirm Password:</b></label>
            <input type="password" placeholder="Confirm Password" name="confirm"> <br />
            <a href="/lists"> <button type="submit" class="registerbtn"></a><strong>Register</strong></button>
            </div> 
            
        </form>
    </main>

    
    </div>
        <div class="parollax1">

    <h1>Create shopping lists for stores we know you love</h1><br />
        <div class="stores">
    
            <img src="../../img/bestbuy.png" alt="bestbuy">
            <img src="../../img/ralphs.png" alt="ralphs">
            <img src="../../img/target.png" alt="target">
            <img src="../../img/traderjoes.png" alt="traderjoes">
            <img src="../../img/walmart.png" alt="walmart">
            <img src="../../img/wholefoods.png" alt="wholefoods">
            <img src="../../img/costco.png" alt="costco">
            <img src="../../img/petco.png" alt="petco">
            <img src="../../img/staples.png" alt="staples">
            <img src="../../img/cvs.png" alt="cvs">
            <img src="../../img/gamestop.png" alt="gamestop">
            <img src="../../img/homedepot.png" alt="homedepot">

         </div>

        </div>

    </div>

</div>
<div class="mako">
    <div class="marketing">

    <div class="shopping">
        <h2>Shopping made easy</h2>
        <p>All you have to do is add your items based on what store you're going to. Yes. It's that simple.</p>
    </div>
    <div class="memory">
        <h2>Dont leave it to memory</h2>
        <p>Research shows that within one hour, people will have forgotten an average of 50 percent of the new information stored in their brain.</p>
    </div>
    <div class="favStores">
        <h2>Not your regular shopping list</h2>
        <p>No more "Milk, Eggs, Bread" lists on your fridge. This is how real shopping lists are made. I mean seriously, who uses notepads anymore?</p>
    </div>
</div>
</div>