<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppy Cart</title>
</head>
<body>
    <header>
        <h1> Welcome to Shoppy Cart</h1>
    </header>
    <main>
        <div class="username">
            <label for="username">Username:</label> <br />
            <input type="text"  name="username">
        </div>
        
        <div class="password">

            <label for="pass">Password:</label> <br />

            <input type="password" name="password"
                   minlength="8" required>
        </div> <br />
        
        <input type="submit" value="Start Shopping"> 
    </main>
</body>
</html>