    <header>
        <h1> Welcome to Shoppy Cart</h1>
    </header>
    <main>
        <div class="username">
            <label for="username">Username:</label> <br />
            <input type="text"  name="username">
        </div>
        
        <div class="password">

            <label for="pass">Password:</label> <br />

            <input type="password" name="password"
                   minlength="8" required>
        </div> <br />
        
       <a href="/lists"> <input type="submit" value="Start Shopping"> </a>
    </main>