<!DOCTYPE html>
<html>
        <head>
            <title>Shoppy Cart</title>
            <link rel="stylesheet" href="css/style.css">
        </head>
    <body>
        <nav class="navbar">
            <a href="/lists">Home</a>
            <ul>
                <li>
                    <a href="/lists">Lists</a>
                </li>
                <li>
                    <a href="/items">Items</a>
                </li>
            </ul>
        </nav>
        <%- body %>
    </body>
</html>