<!DOCTYPE html>
<html>
        <head>
            <title>Shoppy Cart</title>
            <link rel="stylesheet" href="/css/style.css">
        </head>
    <body>
        <div class="wrapper">
            <%- body %>
        </div>
    </body>
</html>