* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue"; }

.one h1 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.one .navbar {
  background-color: #009900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
  .one .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem; }
  .one .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row; }

a:hover {
  color: #000000;
  transition: all 0.5s ease-in-out; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 100px; }
