* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue"; }

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: beige;
  /* The image used */
  background-image: url("../../img/shopping-cart-supermarket.png");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .homepage header {
    padding: 1px;
    background-color: #009900;
    position: fixed;
    top: 0;
    width: 100vw;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
    .homepage header ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr; }
    .homepage header p {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 1.5rem; }
  .homepage .login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .homepage .login button {
      background-color: red; }
  .homepage .returning {
    align-items: center;
    text-align: center;
    background-color: #ebe8e8;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    grid-column: 1/2;
    padding: 20px; }
  .homepage .container {
    align-items: center;
    text-align: center;
    background-color: #ebe8e8;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-column: 2/3;
    padding: 20px; }
  .homepage h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
    padding-top: 20px; }
  .homepage .parollax1 {
    background-color: #ebe8e8;
    height: 250px; }
  .homepage .stores {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .homepage .stores img {
      width: 100px;
      height: 100px;
      border: solid 2px black;
      border-radius: 90px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.mako {
  background-image: url("../../img/department-store.png");
  /* Set a specific height */
  min-height: 400px;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .mako .marketing {
    display: flex;
    flex-direction: row;
    margin-left: 23%; }
  .mako .shopping, .mako .memory, .mako .favStores {
    width: 300px;
    height: 350px;
    border: solid 2px black;
    border-radius: 25px;
    background-color: #ebe8e8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 80px 20px 20px 20px;
    padding: 20px; }
    .mako .shopping h2, .mako .memory h2, .mako .favStores h2 {
      font-size: 30px;
      text-decoration: underline;
      padding-bottom: 20px;
      font-weight: bold; }
    .mako .shopping p, .mako .memory p, .mako .favStores p {
      font-size: 20px; }

.listpage {
  background-image: url("../../img/shopping-cart-supermarket.png");
  height: 100vh;
  background-size: cover; }
  .listpage .navbar {
    background-color: #009900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
    .listpage .navbar ul {
      list-style: none;
      display: flex;
      flex-direction: row; }
    .listpage .navbar a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 1.5rem; }
      .listpage .navbar a:hover {
        color: #000000;
        transition: all 0.5s ease-in-out; }
  .listpage .list {
    height: 75vh;
    padding: 200px;
    margin: 0 300px 0 300px;
    background-color: #ebe8e8;
    border-radius: 20px; }
    .listpage .list p {
      font-size: 50px; }
    .listpage .list a {
      font-size: 20px; }

.storepage {
  background-image: url("../../img/shopping-cart-supermarket.png");
  height: 100vh;
  background-size: cover; }
  .storepage .navbar {
    background-color: #009900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    border: solid 5px #009900;
    border-radius: 50px;
    padding: 40px;
    background-color: lightgray; }

    top: 0;
    width: 100vw;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
    .storepage .navbar ul {
      list-style: none;
      display: flex;
      flex-direction: row; }
    .storepage .navbar a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 1.5rem; }
      .storepage .navbar a:hover {
        color: #000000;
        transition: all 0.5s ease-in-out; }
  .storepage h1 {
    padding: 300px 0 0 100px;
    font-size: 50px; }
  .storepage .stores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 100px 0 100px;
    background-color: #ebe8e8;
    padding: 20px;
    border-radius: 20px; }
    .storepage .stores img {
      width: 100px;
      height: 100px;
      border: solid 2px black;
      border-radius: 90px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: column;
      justify-content: center; }

.newitempage .navbar {
  background-color: #009900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
  .newitempage .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row; }
  .newitempage .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem; }
    .newitempage .navbar a:hover {
      color: #000000;
      transition: all 0.5s ease-in-out; }

.newitempage body img {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  border-radius: 90px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

