<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <h1>Add a New Item</h1>
    <h2><%= storeID %> </h2>
    <img src=<%= "/img/" + storeID + ".png" %> />
    <form action="/items" method="POST">
        <!-- use form inputs to represent the properties of a fruit -->
        <p>Item Name:</p> <input required type="text" name="name"/> <br />
        <p>Quantity:</p> <input required type="number" name="quantity"> <br />
         <p>Unit of Measure:
        <select name="unit" id="unitsofmeasure">
          <option value=""></option>
          <option value="pound">lbs</option>
          <option value="kilogram">kg</option>
          <option value="ounce">oz</option>
          <option value="quart">qt</option>
          <option value="gallon">gl</option>
          <option value="pint">pt</option>
        </select> <br/>
        <p>Additional Info:</p> <textarea id="notes" name= "notes" rows="5" cols="17"> </textarea> <br />
<<<<<<< HEAD
        Date Needed By: <input type="date" id="delivered" name="date">
        <input type="submit" value="Create Item" /> 
=======

        <p>Date Needed By:</p> <input type="date" id="delivered" name="delivered">
        <a href="/lists"> <input type="submit" value="Create Item" /> </a>

        Date Needed By: <input type="date" id="delivered" name="date">
        <input type="submit" value="Create Item" /> 

>>>>>>> 7d90798205648f4a738f5cf7851ffb1ed516447f
    </form>
    
</body>
</html>