<div class="newitempage">

    <nav class="navbar">
        <a href="/lists">Home</a>
        <ul>
            <li>
                <a href="/stores">Create New Item</a>
            </li>
            <li>
                <a href="/">Logout</a>
            </li>
        </ul>
    </nav>

<body>
    <h1>Step 2: Add Item Information</h1>
    <h2><%= storeID %> </h2>
    <img src=<%= "/img/" + storeID + ".png" %> />
    <form action="/items" method="POST">
        <p>Item Name:</p> <input required type="text" name="name"/> <br />
        <p>Quantity:</p> <input required type="number" name="quantity"> <br />
         <p>Unit of Measure:
        <select name="unit" id="unitsofmeasure">
          <option value=""></option>
          <option value="pound">lbs</option>
          <option value="kilogram">kg</option>
          <option value="ounce">oz</option>
          <option value="quart">qt</option>
          <option value="gallon">gl</option>
          <option value="pint">pt</option>
        </select> <br/>
        <p>Additional Info:</p> <textarea id="notes" name= "note" rows="5" cols="17"> </textarea> <br />
        <p>Date Needed By:</p> <input type="date" id="delivered" name="date">
      <a href="/"></a>  <input type="submit" value="Create Item" />
    </form>
    
</body>

</div>